html {
  background-color: #ecf0f1;
  padding: 100px;
}

body {
  border-radius: 10px;
  box-shadow: 5px 5px 5px #888888;
}

.main-content {
  background-color: #ecf0f1;
  border: solid white 10px;
  border-radius: 15%;
  padding: 10px;
}

#main-header {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}

#main-header .fa-rocket {
  font-size: 70px;
  color: #0073e6;
}

#main-img {
  border-radius: 10px;
  display: block;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#info-header {
  text-align: center;
}

#info {
  margin: 40px;
  width: 800px;
}

.footer p{
  background-color: white;
}
