#hero-screen {
  background-image: url('https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=cf879cde6f0bd0a063a66bffa19a2a18');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#main {
  margin-right: 25%;
  padding: 30px;
  overflow-x: hidden;
  width: 1200px;
}

#main-header {
  background-color: #22313F;
  color: white;
  font-family: 'Raleway', sans-serif;
  padding: 60px;
  text-align: center;
  width: 400px;
}

#main-header .fa-rocket {
  font-size: 60px;
}

#main-img {
  display: block;
  border-radius: 10px;
  height: 300px;
  margin: 30px;
}

#info {
  width: 600px;
  margin-right: 30%;
}

.credit {
  bottom: 0;
  color: white;
  left: 50%;
  position: absolute;
}
