body {
  background-color: #ecf0f1;
  font-family: 'Open Sans Condensed', sans-serif;
}

nav {
  background-color: white;
  position: fixed;
  box-shadow: 2px 2px 3px #141f1f;
}

.navbar {
  padding: 10px;
}

.navbar-brand {
  background-color: #ecf0f1;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
}

.navbar li a{
  font-size: 25px;
}

#wrapper {
  border: solid #7f8c8d 2px;
  box-shadow: 2px 5px 45px #7f8c8d;
  margin-bottom: 25%;
  margin-top: 5%;
  padding: 20px;
}

.main-image {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('https://images.unsplash.com/photo-1414690165279-49ab0a9a7e66?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=d36ea3a39c51d6711a4ccbd1d37124b1');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 100vh;
  margin: 0;
}

#main-header {
  color: white;
  position: relative;
  text-align: center;
  top: 20%;
}

#main-header h1{
  font-family: 'Pacifico', cursive;
  font-size: 150px;
}

#main-header .fa-power-off {
  font-size: 55px;
  opacity: 0.5;
}

#main-header #social-media {
  font-size: 25px;
}

#main-header #social-media .fa{
  margin: 20px;
}

#computer-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about {
  height: 100vh;
  padding: 30px;
}

#about-header h1{
  cursor: default;
  color: #34495e;
  font-size: 45px;
  padding: 15px;
  text-align: right;
}

.about p{
  font-size: 25px;
}

#capital {
  font-size: 35px;
  font-weight: bold;
}

.portfolio {
  background-color: #2c3e50;
  color: white;
  height: 100vh;
  padding: 40px;
}

#portfolio-header h1{
  cursor: default;
  color: #16a085;
  font-size: 90px;
  text-align: center;
}

.portfolio .fa{
  margin: 20px;
}

.portfolio .portfolio-info {
  height: 400px;
}

.portfolio .media {
  margin-bottom: 40px;
}

.portfolio .media-heading {
  font-size: 50px;
}

.portfolio .media-left {
  font-size: 100px;
}

.portfolio .media-body p{
  font-size: 30px;
}

.contact {
  height: 100vh;
  padding: 40px;
}

.contact label {
  font-size: 25px;
}

.contact input {
  width: 300px;
}

.contact .btn {
  font-size: 25px;
}

.footer {
  padding: 5px;
  text-align: center;
}

.footer p {
  font-size: 30px;
}

.footer #social-media .fa{
  margin: 20px;
}
